.creator-container {
	display: flex;
	height: 100%;
	width: 100vw;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	overscroll-behavior: none;
}

.welcome-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.submit-button {
	color: white;
	background-color: #8c2eff;
	font-size: 16px;
	border-radius: 7px;
	border: none;
	height: 30px;
	margin: 30px;
	width: fit-content;
	padding: 0px 30px;
}
.meme-result {
	position: relative;
	width: 90vw;
	flex-grow: 1;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.meme-image-container {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
.meme-image {
	object-fit: cover;
}
.meme-text-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
input.memeText,
input.creatorName {
	background-color: transparent;
	color: white;
	font-size: 20px;
	width: 200px;
	border: none;
	border-bottom: #8c2eff 2px solid;
	text-align: center;
}

textarea.memeText {
	z-index: 1;
	border: none;
	background-color: transparent;
	width: fit-content;
	max-width: 80%;
	color: white;
	font-size: 35px;
	font-weight: bold;
	-webkit-text-stroke: 2px black;
	text-align: center;
	margin-bottom: 10px;
}

textarea.memeText:focus,
input.memeText:focus,
input.creatorName {
	outline: none;
}

.form-label {
	color: white;
	font-size: 20px;
	margin-right: 30px;
}
