.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 120px;
	min-height: 120px;
	background-color: #0e0d17;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.911);
	color: white;
}
main {
	flex-grow: 1;
	background-color: #1d1d2a;
}
nav {
	flex-grow: 1;
	display: flex;
	width: 100vw;
}
.navlinks {
	flex-grow: 1;
	border-top: 2px solid rgb(59, 56, 56);
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
	height: 100%;
}
.active {
	background-color: #8c2eff;
}
.navlinks:hover {
	color: white;
	background-color: #331557;
}
